*{
  box-sizing: border-box;
}
header{
  background-color: #4ac25a;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  header {
    height: 40px;
    background-color: #ffb380;
    margin-bottom: 10px;
  }
  .main > div{
    height: 150px;
  }
  .main .col-xs-12:nth-child(odd) {
    
    background-color: red;
  }
  .main .col-xs-12:nth-child(even) {
    
    background-color: #00ffff;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .footer > footer{
    height: 40px;
  }
  .footer .col-xs-12 {
    margin-top: 10px;
   
    background-color: rgb(255, 230, 0);
  } 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  header {
    height: 40px;
    background-color: #00ffff;
    margin-bottom: 10px;
  }
  .main > div {
    height: 200px;
  }
  .main .col-sm-6{
    background-color: red;
    margin-bottom: 10px;
  }
  
  .main .col-sm-12 {
    background-color: rgb(51, 182, 51);
  }

  
  .footer .col-xs-12{
    background-color: yellow;
  }
  
  .footer footer{
    height: 40px;
    margin-top: 10px;
  }
  /* footer .col {
    height: 80px;
    background-color: rgb(255, 230, 0);
  } */
}

/* Medium devices (landscape tablets, 768px and up) Includes md, lg, xl */
@media only screen and (min-width: 768px) {
  header {
    height: 80px;
    background-color: #4ac25a;
  }
  
  .main .col-md-4 {
    height: 300px;
    background-color: red;
  }
  .content .col-md-4:nth-child(even) {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }

  footer .footer {
    height: 80px;
    background-color: rgb(255, 230, 0);
  } 
}
